<center>
    <html>
        <head>
            <link rel="stylesheet" href="{{ url_for('static',filename='f.css') }}">
            <body><br><br><br><br><br><br><br><br><br>
                <h1 style="color: #e4ebe7">SMS Spam or Ham</h1>

                <form method="POST" action="/result">
                    <label style="color: #e4ebe7" for="text">Type Your Text</label><br>
                    <br>
                    <input type="text" name="text" ><br>
                    <br>
                
                    
                    <input type="Submit" value="Submit" id="btn">
                </form>
            </body>
        </head>
    </html>
</center>